nav {
  z-index: 100;
  background: linear-gradient(
    90deg,
    rgba(247, 225, 255, 0.25) 0.63%,
    rgba(114, 162, 255, 0.167969) 33.23%,
    rgba(232, 89, 255, 0.25) 69.46%,
    rgba(247, 225, 255, 0.1675) 100%
  );
  backdrop-filter: blur(15px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 20px;
  width: 80vw;
  height: 6vw;
  margin: 0 auto;
  /* padding: 0 1rem; */
  position: relative;
  top: 20px;
  /* height: 80px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

nav #menu {
  display: flex;
  width: 100vw;
  justify-content: space-between;
}

nav .left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}
nav .right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 38%;
  margin: 0 2rem;
}
nav img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.1em;

  color: #ffffff;
}

nav input {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  border: none;
  padding: 0.7rem 0em;
  color: #ffffff;
}
nav input:focus {
  outline: none;
}
.input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
#searchId {
  height: 25px;
  width: 25px;
  cursor: pointer;
  position: absolute;
  left: 10px;
}
#searchId:hover {
  /* transform: scale(1.1); */
}
#searchInput::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  /* padding-left: 35px; */
}
#searchInput::-moz-placeholder {
  /* Firefox 19+ */
  /* padding-left: 35px; */
}
#searchInput:-ms-input-placeholder {
  /* IE 10+ */
  /* padding-left: 35px; */
}
#searchInput:-moz-placeholder {
  /* Firefox 18- */
  /* padding-left: 35px; */
}
.input input {
  padding-left: 45px;
}

.upload {
  border: 1px solid #ffffff;

  background: #171717;
  border-radius: 11px;
  padding: 6px 16px;
}

.upload__disabled{
  border: 1px solid #ffffff;

  background: #6b6b6b;
  border-radius: 11px;
  padding: 6px 16px;
}

.upload a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.05em;

  background: linear-gradient(90deg, #e9d8ff 0%, #f4d6ff 52.6%, #d9edff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
