nav {
  z-index: 100;
  background: linear-gradient(
    90deg,
    rgba(247, 225, 255, 0.25) 0.63%,
    rgba(114, 162, 255, 0.167969) 33.23%,
    rgba(232, 89, 255, 0.25) 69.46%,
    rgba(247, 225, 255, 0.1675) 100%
  );
  backdrop-filter: blur(15px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 20px;
  width: 80vw;
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
  top: 20px;
  /* height: 80px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

nav #menu {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
}
nav img {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 1rem;
}
