@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
.navb {
  height: 20vh;
  position: absolute;
  top: 10px;
  display: flex;
  justify-content: center;
  width: 100vw;
}
.routesSection {
  /* height: 85vh; */
}

body {
  background-color: #1e1e1e;
  overflow-x: hidden !important;
  width: 100vw !important;
  font-family: "Questrial", sans-serif;
  scrollbar-color: #57427d;
  position: relative;
}
