.formbody {
  height: 100vh;
}
.form {
  height: 50vh;
  position: relative;
  top: 30vh;
  width: 700px;
  margin: 0 auto;
  background: linear-gradient(
    90deg,
    rgba(247, 225, 255, 0.25) 0.63%,
    rgba(114, 162, 255, 0.167969) 33.23%,
    rgba(232, 89, 255, 0.25) 69.46%,
    rgba(247, 225, 255, 0.1675) 100%
  );
  backdrop-filter: blur(80px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form input {
  display: flex;

  width: 90%;
  height: 50px;
  border-radius: 10px;
  border: none;
  padding: 0 20px;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;
  color: #e7e7e7;
  background: transparent;
  border: 1px solid #fafafa;
}
.form input:focus {
  outline: none;
}
.form input::placeholder {
  color: #bebebe93;
}

.form button {
  width: 30%;
  height: 50px;
  border-radius: 10px;
  border: none;
  padding: 0 20px;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #e7e7e7;
  background: linear-gradient(
    90deg,
    rgba(247, 225, 255, 0.541) 0.63%,
    rgba(114, 161, 255, 0.575) 33.23%,
    rgba(233, 89, 255, 0.507) 69.46%,
    rgba(247, 225, 255, 0.479) 100%
  );
  cursor: pointer;
}
.form button:hover {
  background: #e7e7e7;
  color: #000;
  transition: 0.4 ease;
}
